:root {
    --primary-color: #6a10d1;
    --secondary-color: #7F00B2;
    --text-color: #FFF;
    --background-gradient: linear-gradient(var(--primary-color), var(--secondary-color));
}

.Section-About-Section{
    width: 100%;
    background-color: #121212;
}

.div-About-Section {
    padding: 90px;
    background-image: var(--background-gradient);
    border-radius: 20px;
    width: 95%;
    margin: auto;
}

.about-section {
    display: flex;
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: transparent;
}

.Section-About-Section .section-title {
    margin: 0 auto;
    padding: 20px 0;
    color: var(--text-color);
    font-size: 2rem;
    text-align: center;
    animation: fadeIn 2s ease-out forwards;
}

.column {
    flex-basis: 50%;
    padding: 20px;
}

.column.left p {
    margin: 20px 0;
    padding: 20px;
    text-align: justify;
    max-width: 90%;
    line-height: 1.6;
    color: var(--text-color);
    animation: fadeIn 2s ease-out forwards;
}

.column.right img {
    display: block;
    max-width: 70%;
    height: auto;
    border-radius: 15px;
    margin: 0 auto;
    animation: fadeIn 4s ease-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .about-section {
        flex-direction: column;
    }

    .column {
        flex-basis: auto;
        padding: 10px;
    }

    .column.left, .column.right {
        max-width: 100%;
    }

    .column.left p, .column.right img {
        padding: 20px;
        max-width: 100%;
    }
}
