:root {
    --scrollbar-track-color: #f1f1f1;
    --scrollbar-thumb-color: #7F00B2;
    --navbar-background-color: transparent;
    --navbar-scrolled-background: linear-gradient(to bottom right,#000000, #000000 40%);
    --navbar-scrolled-box-shadow: 0 2px 4px rgb(0, 0, 0);
    --navbar-link-color: #fff;
    --navbar-link-hover-color: #7F00B2;
    --navbar-icon-color: #ffffff;
    --navbar-icon-hover-color: #7F00B2;
}

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color);
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;
    background-color: var(--navbar-background-color);
    transition: background-color 0.32s ease-in-out;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    caret-color: transparent;
}

.navbar-scrolled {
    background: var(--navbar-scrolled-background);

}

.navbar-logo img {
    width: 44px;
    height: auto;
}

.navbar-links a {
    color: var(--navbar-link-color);
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s;
    font-weight: 600;;
    font-size: 16px;
}

.navbar-links a:hover {
    color: var(--navbar-link-hover-color);
}

.navbar-icons {
    width: 70px;
    display: flex;
    align-items: center;
}

.navbar-icons a {
    color: var(--navbar-icon-color);
    margin-right: 5px;
    transition: transform 0.3s, color 0.3s;
}

.navbar-icons a:last-child {
    margin-right: 0;
}

.navbar-icons a:hover {
    transform: scale(1.1);
    color: var(--navbar-icon-hover-color);
}

.navbar-icons svg {
    width: 25px;
    height: auto;
}

@media (max-width: 720px) {
    .navbar {
        flex-direction: row;
        align-items: center;
        padding: 10px;
    }

    .navbar-links, .navbar-icons {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 0;
    }

    .navbar-links a, .navbar-icons a {
        margin: 0 10px;
    }
}

@media (max-width: 480px) {
    .navbar-icons a {
        margin: 0 1vw;
    }

    .navbar-icons svg {
        width: 3.5vw;
        vertical-align: auto;
    }

    .navbar-links a {
        font-size: 10px;
        margin: 0 2vw;
    }
    
    .navbar-logo img {
        width: 20px;
        height: auto;
    }
}
