.counteiner-whoweare{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}
.WhoWeAre-text{
    padding: 200px;
}

.WhoWeAre-text p, h1 {
    display: flex;
    margin: auto;
    padding: 1rem;
    text-align: center;
    max-width: 90%;
    line-height: 1.6;
    animation: fadeIn 4s ease-out forwards;
}

.Title-WhoWeAre {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
